/* variable css */
/* define */
:root {
    --primary-color: #047aed;
}

/* use */
.element {
    color: var(--primary-color);
}

/* Flex */

.item {
    flex-grow: 1; /* Tất cả các phần tử con sẽ cố gắng lấp đầy không gian trống một cách bình đều */
}

.item {
    flex-shrink: 0; /* Ngăn chặn phần tử con này co lại khi không gian trở nên hạn chế */
}

.item {
    flex-basis: 50%; /* Kích thước ban đầu là 50% của container */
}

.item {
    flex: 1 0 auto; /* Tương đương với flex-grow: 1; flex-shrink: 0; flex-basis: auto; */
}

.item {
    align-self: flex-start; /* Căn giữa theo chiều dọc chỉ cho phần tử này */
}

/* RESPONSIVE */

/* The columns inside a row are all floating to the left, and are therefore taken out of the flow of the page,
and other elements will be placed as if the columns do not exist. To prevent this, we will add a style that clears the flow:*/
.row::after {
    content: "";
    clear: both;
    display: table;
}

/* For mobile phones: */
[class*="col-"] { /* attribute selector. */
    width: 100%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    ¡
    .col-12 {
        width: 100%;
    }
}

/* Navbar */
.navbar .flex {
    justify-content: space-between;
}

.navbar ul {
    display: flex;
}

.navbar a:hover {
    border-bottom: 2px #fff solid;
}

/* Showcase Form */
.showcase {
    height: 400px;
    background-color: var(--primary-color);
    color: #fff;
    position: relative; /* To can add sth position absolute */
}

.showcase .grid {
    grid-template-columns: 55% 45%;
    gap: 30px;
    overflow: visible;
}

.showcase-form .form-control {
    margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='text'] {
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.showcase-form input:focus {
    outline: none;
}

.showcase-form {
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    z-index: 100;
    animation: slideInFromRight 1s ease-in;
}

.showcase-text {
    animation: slideInFromLeft 1s ease-in;
}

.showcase::before, .showcase::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background-color: #fff;
    transform: skewY(-3deg);
}

.card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
}

/* Utilities */
.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;

}

/* Flex */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Grid */
.grid {
    display: grid;
    /*grid-template-columns: 1fr 1fr;*/
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
}

.btn-outline {
    background-color: transparent;
    border: 1px solid #fff;
}

.btn:hover {
    transform: scale(0.98);
}

.text-center {
    text-align: center;
}

/* Margin */
.my-1 {
    margin: 1rem 0;
}

.my-2 {
    margin: 1.5rem 0;
}

.my-3 {
    margin: 2rem 0;
}

.my-4 {
    margin: 3rem 0;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 1.5rem;
}

.m-3 {
    margin: 2rem;
}

.m-4 {
    margin: 3rem;
}

/* Padding */
.py-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 1.5rem 0;
}

.py-3 {
    padding: 2rem 0;
}

.py-4 {
    padding: 3rem 0;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 1.5rem;
}

.p-3 {
    padding: 2rem;
}

.p-4 {
    padding: 3rem;
}

/* Animations */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateX(0);
    }
}
@media (max-width: 1000px){

    .showcase-form{
        width: 340px;
    }
}
