li:nth-child(even) {
}

li:first-child {
}

a:link {
    color: cyan;
    text-decoration: none;
}

a:visited {
    color: cyan;
}

a:hover {
    color: orangered;
    font-weight: bold;
    text-decoration: underline orangered dotted;
}

a:active {
    background-color: darkgray;
    font-style: italic;
}