@media screen and (max-width: 768px) {
    .avatar {
        display: none;
    }
    #nav-bar {
        display: flex;
        justify-content: flex-start;
        position: relative;
        align-items: center;
        text-transform: uppercase;
    }

    .nav-bar-item {
        display: block;
        width: 100%;
        text-align: left;
        padding: 10px;
    }

}