:root {
    --blue-icon-color: #189cdb;
    --grey-bg-color: #f0f0f0;
    --light-grey-bg-color: #f5f5f5;
    --blue-border-color: deepskyblue;
    --grey-border-color: darkgray;
    --text-color: #767676;
    --black-color: black;
    --white-color: white;
    --certi-border-color: #d6c08d;
    --certi-bg-color: #f7f7f7;
}

*, body {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    box-sizing: border-box;
    line-height: 1.6;
    font-size: 16px;
}

.cl-blue-icon {
    color: var(--blue-icon-color);
    vertical-align: middle;
    margin-right: 5px;
    padding-bottom: 3px;
}

img, .avatar > img {
    width: 100%;
}

.max-width-66 {
    max-width: 66%;
}

.pd-10 {
    padding: 10px;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}


.grid-col-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}

.certi-bg-color {
    background-color: var(--certi-bg-color);

}

.certi-grid-layout {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    grid-template-rows: 1fr 1px 1fr;
    grid-gap: 20px;
}

.certi-container {
    padding-top: 15px;
    padding-bottom: 5px;
}

.certi-content {
    color: var(--text-color);
}

.certi-name {
    text-transform: uppercase;
    color: var(--black-color);
}

.bg-grey {
    background: var(--grey-bg-color)
}

.bg-light-grey {
    background: var(--light-grey-bg-color)
}

/* Navbar */

#nav-bar {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    text-transform: uppercase;
}

.nav-bar-item {
    padding-left: 20px;
    padding-right: 20px;
    border-left: 1px solid var(--grey-border-color);
    border-right: 1px solid var(--grey-border-color);
    border-collapse: collapse;
    display: flex;
    align-items: center;
    align-content: center;
    border: lightgray 1px solid;
}


/*Set khung cho img avatar*/
.avatar {
    margin-left: 60px;
    margin-right: 60px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden; /*Ẩn phần ảnh thừa*/
    border: white 10px solid;
    z-index: 1; /*Cho phần div này đè lên trên các thẻ khác*/
    position: relative;
}

.banner-container {
    width: 100%;
    height: auto;
    position: relative;
}

.banner-img {
    width: 100%;
}



.job-desc {
    font-size: 1.7em;
}

.abs-centered {
    position: absolute;
    width: max-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    padding-left: 15px;
}

.cv-document {
    border: none;
    outline: 0;
    vertical-align: baseline;
    text-decoration: none;
    font-family: arial, sans-serif, tahoma;
}

.cv-page {
    outline: 0;
    vertical-align: baseline;
    text-decoration: none;
    min-height: 900px;
    margin: 0 auto;
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
    background-color: #fff;
    position: relative;
}

#target, #info {
    padding: 60px 20px 60px 20px;
}

.info-details {

}

#name {
    font-weight: bold;
    font-size: 3em;
    color: #0e2452;
}

.section-info {
    border: lightgray 1px solid;
    position: relative;
}

.section-content {
    padding: 10px;
    padding-left: 30px;
    display: grid;
    row-gap: 25px;
}

.grid-col-40px {
    grid-template-columns: 40px 1fr;
}

.section-title {
    color: var(--black-color);
    font-size: 2em;
}
.section-icon {
    color: var(--blue-icon-color);
    font-size: 3em;
}

.text-center {
    text-align: center;
}

.label {
    width: 100px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: blue;
}

.time-range, .skill {
    font-style: italic;
}

.item-title {
    font-weight: bold;
}

.hobby {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.hobby-icon {
    font-size: 0.9em;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: var(--blue-border-color) 1px solid;
}
.hobby-icon >i {
    font-size: 2.3em;
    margin-left: 9px;
    margin-top: 9px;
}

.language-item {
    margin-bottom: 10px;
}

.blue-line {
    border-bottom: var(--blue-border-color) 3px solid;
}

.grey-line {
    border-bottom: var(--grey-border-color) 3px solid;
}

.border-light-grey {
    border: lightgray 1px solid;
}

.blue-line, .grey-line {
    margin-right: 5px;
    display: inline-block;
    width: 40px;
}

.pro-container {
    color: var(--text-color);
    /*margin: 30px 17%;*/
}

/*.pro-item {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    flex: 1;*/
/*    !*justify-content: space-between;*!*/
/*    height: 100%;*/
/*}*/

.pro-title {
    color: var(--black-color);
    text-transform: uppercase;
    padding: 15px;
    border-top: lightgrey 1px solid;
    border-bottom: lightgrey 1px solid;
}

.pro-role {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.pro-details table tr td:first-child {
    width: 80px;
}
.pro-details {
    /*border: lightgrey 1px solid;*/
}

.pro-details table td {
    padding: 10px 0 10px 10px;
}

.pro-details table tr:not(:last-child) {
    border-bottom: lightgrey 1px solid;
}

.pro-time {
    color: white;
    background-color: var(--blue-icon-color);
    padding: 5px 10px;
    border-radius: 13px;
}

.pro-org {
    text-transform: uppercase;
}

.contact {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.contact-item {
    padding: 10px;
    margin: 10px;
}
.contact-item i {
    vertical-align: middle;
    font-size: 2em;
}

.contact a {
    color: gray;
}

.view-more {
    /*position: absolute;*/
    /*display: block;*/
    /*bottom: 20px;*/
    /*left: 20px;*/
    margin-top: 10px;
    margin-left: 20px;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #f6ea85;
    width: auto;
    max-width: fit-content;
}

#career-info {
    grid-template-columns: auto;
}

.basic-border {
    border: lightgray 1px solid;
}

.basic-border-y {
    border-top: lightgray 1px solid;
    border-bottom: lightgray 1px solid;
}

.row.certification .certi-container:not(:last-child) {
    border-bottom: 1px solid var(--certi-border-color);
}