@media screen and (max-width: 992px) {
    .avatar {
        display: none;
    }

    .pro-container {
        margin: auto;
    }

    .row.certification .certi-container:nth-child(odd) {
        border-left: 1px solid var(--certi-border-color);
    }

    .row.certification .certi-container:nth-child(n+4) {
        border-top: 1px solid var(--certi-border-color);
    }
    /*#career-info {*/
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*    flex-wrap: wrap;*/
    /*    max-height: 2000px;*/
    /*}*/
}