@media screen and (max-width: 992px) {

    .avatar {
        display: none;
    }
    .pro-container {
        margin: auto;
    }

    .row.certification .certi-container:nth-child(odd) {
        border-left: 1px solid var(--certi-border-color);
    }

    #career-info {
        grid-template-columns: auto auto;
    }

}