* {
    margin: 0;
}

.bg-grey {
    background: #f7f7f7;
}

section > .container{
    width: 1170px;
    margin: auto;
    display: block;

    padding: 30px 50px;
}

#nav-bar {
    /*text-align: center;*/
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    height: 70px;
    text-transform: uppercase;
}
.nav-bar-item {
    height: 68px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid darkgray;
    border-collapse: collapse;
    display: flex;
    align-items: center;
    align-content: center;
}
/*.nav-bar-main-item {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;;*/
/*    padding-left: 60px;*/
/*    padding-right: 60px;*/
/*    border: 1px solid darkgray;*/
/*    border-collapse: collapse;*/
/*}*/
.avatar_1 {
    margin-left: 60px;
    margin-right: 60px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: white 10px solid;
    z-index: 1;
    position: relative;
}
.avatar_1>img {
    width: 100%;
    height: auto;
}

.banner-container {
    width: 100%;
    height: auto;
    position: relative;
}
.banner-img {
    width: 100%;
}
.name {
    font-size: 4em;
}
.job-desc {
    font-size: 1.7em;
}
.abs-centered {
    position: absolute;
    width: max-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

body, h1, h2, h3 {
    margin: 0px;
}
ul {
    padding-left: 15px;
}

.cv-document {
    box-sizing: border-box;
    border: none;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif, tahoma;
    font-size: 10pt;
}

.cv-page {
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    width: 900px;
    min-height: 900px;
    margin: 0 auto;
    box-shadow: 0 0 1px rgba(0,0,0,.5);
    background-color: #fff;
    position: relative;
    padding: 40px
}
p {
    margin: 0;
    line-height: 1.6;
}

#info {
}
#name {
    font-weight: bold;
    font-size: 30px;
    color: #0e2452;
}
.section {
    width: auto;
    position: relative;
    margin-bottom: 10px;
    margin-left: 10%;
}
.section-content {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}
.section-title {
    text-transform: uppercase;
    border-bottom: black solid 1px;
}
.avatar {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    right: 0;
}
.avatar>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section>div {
    display: inline-block;
}

.info-details>div {
    display: inline-block;
}
.info-details {
    line-height: 1;
}
.label {
    width: 140px;
    font-weight: bold;
    font-size: 17px;
}
.details {
    font-size: 17px;
}
.content-details>p:first-child {
    font-weight: bold;
}
.section-content>ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    border-bottom: lightgray solid 1px;
    width: 100%;
}

.section-content ul li {
    margin-right: 10px;
}

.section-content>ul>li:first-child {
    /*flex: 0 0 150px;*/
    /*width: 150px;*/
}
ul .sub-details {
    list-style-type: "- ";
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.sub-details li {
}

li.skill {
    font-weight: bold;
}
li.certi {
    text-transform: uppercase;
}
#hobby ul {
    border: none;
    list-style-type: disc;
    padding-left: 15px;
}
.project-info .title {
    font-weight: bold;
    text-transform: uppercase;
}
.project-info .time {
}
.project-info li div {
    display: inline-block;
}
.project-lbl {
    font-weight: bold;
}
a {
    text-decoration: none;
    color: blue;
}

.education-item, .experience-item, .activity-item, .skill-item, .certificate-item {
    display: flex;
}
.time-range, .skill {
    width: 200px;
}
.content-details, .skill-lvl, .certi {
    flex: 1;
}