* {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    box-sizing: border-box;
    line-height: 1.6;
}
body {
    font-size: 16px;
}
.cl-blue-icon {
    color: #189cdb;
    vertical-align: middle;
    margin-right: 5px;
    padding-bottom: 3px;
}

img {
    width: 100%;
}

.max-width-66 {
    max-width: 66%;
}

.pd-10 {
    padding: 10px;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.grid-col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}

.grid-col-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}

.certi-grid-layout {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    grid-template-rows: 1fr 1px 1fr;
    grid-gap: 20px;
}
.certi-border {
    background-color: #d6c08d;
}
.horizontal-border{
    grid-column: 1 / -1;
}
.certi-container {
    padding: 40px 17%;
    background-color: #f5f5f5;
}

.certi-item {
    display: grid;
    grid-template-columns: 40% 1fr;
    row-gap: 10px;
    column-gap: 30px;
    box-sizing: content-box;
}

.certi-content {
    color: #767676;
}

.certi-name {
    text-transform: uppercase;
    color: black;
}

.bg-grey {
    background: #f0f0f0;
}

.bg-light-grey {
    background: #f5f5f5;
}

#nav-bar {
    /*text-align: center;*/
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    height: 70px;
    text-transform: uppercase;
}

#nav-bar i{
}

.nav-bar-item {
    height: 68px;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 1px solid darkgray;
    border-right: 1px solid darkgray;
    border-collapse: collapse;
    display: flex;
    align-items: center;
    align-content: center;
}

/*Set khung cho img avatar*/
.avatar {
    margin-left: 60px;
    margin-right: 60px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden; /*Ẩn phần ảnh thừa*/
    border: white 10px solid;
    z-index: 1; /*Cho phần div này đè lên trên các thẻ khác*/
    position: relative;
}

.avatar > img {
    width: 100%;
    height: auto;
}

.banner-container {
    width: 100%;
    height: auto;
    position: relative;
}

.banner-img {
    width: 100%;
}

.name {
    font-size: 4em;
}

.job-desc {
    font-size: 1.7em;
}

.abs-centered {
    position: absolute;
    width: max-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    padding-left: 15px;
}

.cv-document {
    box-sizing: border-box;
    border: none;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif, tahoma;
    /*font-size: 10pt;*/
}

.cv-page {
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    /*font-size: 100%;*/
    vertical-align: baseline;
    text-decoration: none;
    /*width: 900px;*/
    min-height: 900px;
    margin: 0 auto;
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
    background-color: #fff;
    position: relative;
    /*padding: 0 40px*/
}

p {
    margin: 0;
    line-height: 1.6;
}

#target, #info {
    padding: 60px 20px 60px 20px;
}

.info-content {
    padding-left: 55px;
    display: grid;
    grid-template-columns: 100px 1fr;
}

.info-details {

}

#name {
    font-weight: bold;
    font-size: 3em;
    color: #0e2452;
}

.section {
    width: auto;
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 50px;
    border: lightgray 1px solid;
}

.section-content {
    padding: 10px;
    padding-left: 30px;
    display: grid;
    grid-template-columns: 40px 1fr;
    row-gap: 25px;
}

.section-content {
    padding-left: 55px;
}

.section-title {
    color: black;
    font-size: 2em;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 35px 0 35px 55px;
}

.label {
    width: 100px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: blue;
}

.time-range, .skill {
    font-style: italic;
}

.now {
    background-color: #00FFFF;
    color: white;
    border-radius: 5px;
    padding: 0 5px;
}

.item-title {
    font-weight: bold;
}

.hobby {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
}

.hobby-icon {
    font-size: 0.9em;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: deepskyblue 1px solid;
}
.hobby-icon >i {
    font-size: 2.3em;
    margin-left: 9px;
    margin-top: 9px;
}

.language-item {
    margin-bottom: 10px;
}

.blue-line {
    border-bottom: deepskyblue 3px solid;
}

.grey-line {
    border-bottom: darkgray 3px solid;
}

.blue-line, .grey-line {
    margin-right: 5px;
    display: inline-block;
    width: 40px;
}

.pro-container {
    color: #767676;
    /*margin-bottom: 30px;*/
    margin: 30px 17%;
}

.pro-item {
    display: flex;
    flex-direction: column;
    flex: 1;
    /*justify-content: space-between;*/
    height: 100%;
}

.pro-title {
    color: black;
    text-transform: uppercase;
    padding: 15px;
    border: lightgrey 1px solid;
}

.pro-role {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    border: lightgrey 1px solid;
}

.pro-details table tr td:first-child {
    width: 80px;
}
.pro-details {
    border: lightgrey 1px solid;
}

.pro-details table td {
    padding: 10px 0 10px 10px;
}

.pro-details table td {
    border-bottom: lightgrey 1px solid;
}

.pro-time {
    color: white;
    background-color: #189cdb;
    padding: 5px 10px;
    border-radius: 13px;
}

.pro-org {
    text-transform: uppercase;
}

.contact {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.contact-item {
    padding: 10px;
    margin: 10px;
}
.contact-item i {
    vertical-align: middle;
    font-size: 2em;
}

.contact a {
    color: gray;
}