* {
    box-sizing: border-box;
    margin: 0;
}
p {
    margin: 0;
}

/*product container*/
.product {
    border: 4px black solid;
    width: 825px;
    /*align-content: center;*/
    margin: 50px auto;
    position: relative;
    display: grid;
    grid-template-columns: 250px 1fr 1fr;
    column-gap: 40px;
}
.product-title {
    grid-column: 1 / -1;
    text-transform: uppercase;
    background-color: lightgray;
    text-align: center;
    padding: 15px;
}
.product-info {
    margin-top: 20px;
}
.product-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.product-img {
}
.product-details {
    margin-top: 10px;
}
.product-color {
    display: flex;
    margin-top: 30px;
    gap: 10px;
}

.price {
    font-size: 24px;
}

.free-shipping {
    color: dimgray;
    font-weight: bold;
    text-transform: uppercase;
}
.description {
    margin-top: 10px;
    margin-bottom: 10px;
}

a:link {
    color: black;
}
a:hover {
    text-decoration: none;
}

h3 {
    text-transform: uppercase;
    font-size: 16px;
}
.details-list {
    list-style: square;
    padding-left: 20px;
}
.details-list li {
    margin-bottom: 10px;
}
.details-title {
    margin-top: 10px;
    margin-bottom: 10px;
}
.add-to-cart {
    font-size: 20px;
    color: white;
    background-color: black;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
    grid-column: 1 / -1;
}
.add-to-cart:hover {
    color: black;
    background-color: white;
}

article {

}
#bookmark-sale {
    position: absolute;
    top: -15px;
    left: -20px;
    background-color: red;
    color: white;
}
.color {
    width: 22px;
    height: 22px;
}

/*background color*/
.black-bgc {
    background-color: black;
}
.blue-bgc {
    background-color: blue;
}
.red-bgc {
    background-color: red;
}
.orange-bgc {
    background-color: orange;
}
.green-bgc {
    background-color: green;
}
.brown-bgc {
    background-color: saddlebrown;
}
.container {
    /*display: flex;*/
    /*gap: 40px;*/
}